# IDE configurations
.vscode/
.idea/

# cache
__pycache__/
.pytest_cache/

# virtual environment
venv/

# space-intensive data
data/
rfcs/

# environment variables
.env

# macOS
__MACOSX/
.DS_Store

# protocol implementations
impls/

# vector databases
vector_stores/